# Mapillary API Credentials
MAPILLARY_ACCESS_TOKEN=your_access_token_here
MAPILLARY_CLIENT_TOKEN=your_client_token_here
MAPILLARY_CLIENT_ID=your_client_id_here
MAPILLARY_AUTH_URL=https://www.mapillary.com/connect?client_id=your_client_id_here

# Target Sequence
MAPILLARY_SEQUENCE_KEY=your_sequence_key_here
MAPILLARY_IMAGE_KEY=your_image_key_here

# API Base
MAPILLARY_API_BASE=https://graph.mapillary.com
